 
- name: Show interfaces RPC
  juniper_junos_rpc: 
    provider: "{{ credentials }}"
    rpcs: get-interface-information
    kwargs: 
      extensive: true
    format: xml
  register: result

- name: Save to file
  copy: 
    content: "{{ result['parsed_output']['interface-information']['physical-interface'] }}"
    dest: build/{{ inventory_hostname }}/interface-information.json
    
- name: Get information to Web Server
  run_once: true
  local_action: command python roles/show.py "{{ play_hosts }}" "{{ path }}" interface
